// @import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");

// Always use format correctly while declaring format in font-face

@font-face {
  font-family: "Barlow";
  src: url(../assets/fonts/Barlow-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Fraunces";
  src: url(../assets/fonts/Fraunces_9pt-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Fraunces";
  src: url(../assets/fonts/Fraunces_9pt-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
}

$family-primary: "Fraunces", serif;
$family-secondary: "Barlow", sans-serif;
$body-font-size: 1.125rem;
$body-family: $family-secondary;
$navbar-item-hover-background-color: transparent;
$navbar-tab-hover-background-color: transparent;

@import "../../node_modules/bulma/bulma.sass";
// @import "../../node_modules/bulma/sass/utilities/_all.sass";
// @import "../../node_modules/bulma/sass/base/_all.sass";
// @import "../../node_modules/bulma/sass/elements/container.sass";
// @import "../../node_modules/bulma/sass/elements/title.sass";
// @import "../../node_modules/bulma/sass/helpers/color.sass";
// @import "../../node_modules/bulma/sass/helpers/typography.sass";

.navbar.is-info .navbar-brand > a.navbar-item:hover {
  background-color: transparent;
}

.navbar-burger:hover {
  background-color: transparent;
}

@include touch {
  .header .navbar-menu::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    border: 0.625rem solid transparent;
    border-right-color: $navbar-background-color;
    border-bottom-color: $navbar-background-color;
  }

  .header .navbar-item .button {
    background-color: $warning;
    border-color: transparent;
  }
}
